body {
    overflow-x: hidden;
    color: #505962;
    font-family: 'Nunito', sans-serif;
}

:root {
    --black: #000;
    --gray: #505962;
    --white: #fff;
    --pink: #e40475;
    --green: #70ff94;
}

.offset:before {
    display: block;
    content: '';
    height: 4rem;
    margin-top: -4rem;
}

/*---- Navigation ----*/
.navbar {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .1rem;
}

.navbar-brand {
    font-family: 'Kanit', sans-serif;
    font-size: 1.8rem;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px rgb(153, 152, 152);
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-nav .nav-link {
    padding-top: .8rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: var(--pink) !important;
}


/*---- Landing Page ----*/
.home-inner {
    background-image: url(img/code.jpg);
    filter: brightness(30%);
}

.caption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: var(--white);
    text-transform: uppercase;
}

.caption h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: 3px 3px 2px var(--pink);
    padding-bottom: 1rem;

}

.caption h3 {
    font-weight: 700;
    font-size: 2rem;
    text-shadow: 2px 2px 1px var(--pink);
    padding-bottom: 1.6rem;

}

.btn-lg {
    border-width: medium;
    padding: .2rem 1.3rem;
    font-size: 1.1rem;
}

/* .btn-lg:hover {
    background: rgb(228, 4, 117);
    background: linear-gradient(90deg, rgba(228, 4, 117, 1) 0%, rgba(255, 255, 255, 1) 100%);
} */

/*---- About me Section ----*/
#about img {
    width: 40%;
    margin-bottom: 2rem;
}

.narrow {
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}

.narrow h1 {
    font-size: 2.4rem;
}

.btn-secondary {
    border-width: medium;
    padding: .2rem 1.3rem;
    font-size: 1.1rem;
    color: var(--gray);
    background-color: transparent;
    text-transform: uppercase;
    margin: 1rem;
}

/* .btn-secondary:hover {
    color: var(--gray);
    background: rgb(228, 4, 117);
    background: linear-gradient(90deg, rgba(228, 4, 117, 1) 0%, rgba(255, 255, 255, 1) 100%);
} */

/*---- Portfolio Section ----*/
.jumbotron {
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
}

h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.heading-underline {
    width: 3rem;
    height: .15rem;
    background-color: var(--pink);
    margin: 0 auto 2rem;
}


/* Skills */
.feature svg.svg-inline--fa {
    color: var(--green);
    margin-bottom: 2.5rem;
}

.feature h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.fixed {
    background-image: url(img/coding.jpg);
    z-index: -1;
}

.dark {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 3rem 1rem;
}

.fixed-background h3 {
    margin-bottom: 2rem;
}

.fixed-background p {
    margin-top: 1.5rem;
}

/* Contact Section */
.contact-icon {
    margin: 1.5rem;
}

/* Footer Section */
footer {
    background-color: var(--black);
    color: white;
    padding-bottom: 1rem;
}

footer img {
    height: 3rem;
    margin: 1.5rem 0;
}

footer a {
    color: white;
}

footer a:hover {
    color: var(--green);
}

footer p {
    margin-bottom: 0;
    font-size: 1.5rem;
    color: #bebebe;
}

footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 0 .5rem 0 0;
}

.socket {
    margin: 0 0 .5rem;
    width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 204, 252, 0), var(--pink), rgba(255, 204, 252, 0));
}

/* Media Queries */
@media (max-width: 767px) {
    .caption h1 {
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }

    .caption h3 {
        font-size: 1.3rem;
        padding-bottom: 2.9rem;
    }

    .btn-lg {
        padding: .5rem 1rem;
        font-size: 1rem;
    }

    #about .narrow {
        width: 100%;
    }

    .narrow h1 {
        font-size: 1.8rem;
    }

    .narrow p {
        font-size: 1.1rem;
    }
}
